In [14]:
import pandas as pd # pip install pandas
pd.__version__

'2.3.2'

In [ ]:
pd.read_csv('C/Desktop/Iris.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'C/Desktop/Iris.csv'

In [17]:
pd.read_csv('dataset\Iris.csv')

<>:1: SyntaxWarning: invalid escape sequence '\I'
<>:1: SyntaxWarning: invalid escape sequence '\I'
C:\Users\ASUS\AppData\Local\Temp\ipykernel_28248\1602920951.py:1: SyntaxWarning: invalid escape sequence '\I'
  pd.read_csv('dataset\Iris.csv')

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [18]:
#Series, dataframe
data_series=[2,4,5,2,4,3]
data_df=pd.Series(data_series)
data_df

0    2
1    4
2    5
3    2
4    4
5    3
dtype: int64

In [19]:
type(data_df)

pandas.core.series.Series

In [20]:
data_df=pd.Series(data_series,index=['a','b']

SyntaxError: incomplete input (4163387474.py, line 1)

In [21]:
student={
    'name':['Abdu','Yuya','MinThant']
}
data_df=pd.DataFrame(student)
data_df

       name
0      Abdu
1      Yuya
2  MinThant

In [22]:
housing=pd.read_csv('dataset/Housing.csv',usercols=[0,3,5,6])
house.head()

TypeError: read_csv() got an unexpected keyword argument 'usercols'

In [23]:
df.info()

NameError: name 'df' is not defined

In [24]:
#Day 8
#csv file -> comma separated value pd.open_csv
#tsv file -> tab separated value pd.open_tsv
#Excel file -> Ms excel #pip install openpyxl pd.open_excel

In [25]:
import pandas as pd
data_csv= pd.read_csv(r'C:\Users\ASUS\Downloads\Walmart Data Analysis and Forcasting.csv')
data_csv

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106
...,...,...,...,...,...,...,...,...
6430,45,28-09-2012,713173.95,0,64.88,3.997,192.013558,8.684
6431,45,05-10-2012,733455.07,0,64.89,3.985,192.170412,8.667
6432,45,12-10-2012,734464.36,0,54.47,4.000,192.327265,8.667
6433,45,19-10-2012,718125.53,0,56.47,3.969,192.330854,8.667
6434,45,26-10-2012,760281.43,0,58.85,3.882,192.308899,8.667

In [26]:
import pandas as pd
import openpyxl
data_excel= pd.read_excel(r'C:\Users\ASUS\Downloads\Financial Sample (1).xlsx')
data_excel

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,NaN,1618.5,3,20,32370.0,0.00,32370.00,16185.0,16185.00,2014-01-01,1,January,2014
1,Government,Germany,Carretera,NaN,1321.0,3,20,26420.0,0.00,26420.00,13210.0,13210.00,2014-01-01,1,January,2014
2,Midmarket,France,Carretera,NaN,2178.0,3,15,32670.0,0.00,32670.00,21780.0,10890.00,2014-06-01,6,June,2014
3,Midmarket,Germany,Carretera,NaN,888.0,3,15,13320.0,0.00,13320.00,8880.0,4440.00,2014-06-01,6,June,2014
4,Midmarket,Mexico,Carretera,NaN,2470.0,3,15,37050.0,0.00,37050.00,24700.0,12350.00,2014-06-01,6,June,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,Small Business,France,Amarilla,High,2475.0,260,300,742500.0,111375.00,631125.00,618750.0,12375.00,2014-03-01,3,March,2014
696,Small Business,Mexico,Amarilla,High,546.0,260,300,163800.0,24570.00,139230.00,136500.0,2730.00,2014-10-01,10,October,2014
697,Government,Mexico,Montana,High,1368.0,5,7,9576.0,1436.40,8139.60,6840.0,1299.60,2014-02-01,2,February,2014
698,Government,Canada,Paseo,High,723.0,10,7,5061.0,759.15,4301.85,3615.0,686.85,2014-04-01,4,April,2014
699,Channel Partners,United States of America,VTT,High,1806.0,250,12,21672.0,3250.80,18421.20,5418.0,13003.20,2014-05-01,5,May,2014

In [27]:
df=pd.read_csv('dataset/Iris.csv') #File not found
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [28]:
df['SepalLengthCm']  #df.SepalLengthCm

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: SepalLengthCm, Length: 150, dtype: float64

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [30]:
df.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [31]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [32]:
df.Species.value_counts()

Species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

In [33]:
df.nunique

<bound method DataFrame.nunique of       Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 6 columns]>

In [34]:
#Slicing 
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [35]:
X=df.drop(columns=['Id','Species'])
y=df['Species']

In [36]:
X.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            5.1           3.5            1.4           0.2
1            4.9           3.0            1.4           0.2
2            4.7           3.2            1.3           0.2
3            4.6           3.1            1.5           0.2
4            5.0           3.6            1.4           0.2

In [37]:
y

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object

In [38]:
#iloc and loc
df.loc[::,::]  #: means rows, :: means columns

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [39]:
df.loc[:,::]

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [40]:
#iloc -> index of the location
#loc -> location, condition 
df.iloc[:10,:2]

   Id  SepalLengthCm
0   1            5.1
1   2            4.9
2   3            4.7
3   4            4.6
4   5            5.0
5   6            5.4
6   7            4.6
7   8            5.0
8   9            4.4
9  10            4.9

In [41]:
#Start stop and step (iloc)
df.iloc[10:100:2,:2]  #10 starts point, 100 stop point, 2 step gap, :2 is columns

    Id  SepalLengthCm
10  11            5.4
12  13            4.8
14  15            5.8
16  17            5.4
18  19            5.7
20  21            5.4
22  23            4.6
24  25            4.8
26  27            5.0
28  29            5.2
30  31            4.8
32  33            5.2
34  35            4.9
36  37            5.5
38  39            4.4
40  41            5.0
42  43            4.4
44  45            5.1
46  47            5.1
48  49            5.3
50  51            7.0
52  53            6.9
54  55            6.5
56  57            6.3
58  59            6.6
60  61            5.0
62  63            6.0
64  65            5.6
66  67            5.6
68  69            6.2
70  71            5.9
72  73            6.3
74  75            6.4
76  77            6.8
78  79            6.0
80  81            5.5
82  83            5.8
84  85            5.4
86  87            6.7
88  89            5.6
90  91            5.5
92  93            5.8
94  95            5.6
96  97            5.7
98  99            5.1

In [42]:
df.loc[:,df.columns!='Species']  # Select all columns and rows other than species

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

[150 rows x 5 columns]

In [43]:
df.loc[:,df.columns.isin(['Species','PetalWidthCm'])]   # Excluding multiple columns

     PetalWidthCm         Species
0             0.2     Iris-setosa
1             0.2     Iris-setosa
2             0.2     Iris-setosa
3             0.2     Iris-setosa
4             0.2     Iris-setosa
..            ...             ...
145           2.3  Iris-virginica
146           1.9  Iris-virginica
147           2.0  Iris-virginica
148           2.3  Iris-virginica
149           1.8  Iris-virginica

[150 rows x 2 columns]

In [44]:
df.loc[df['SepalLengthCm']>5,df.columns!='Species']   # greater than 5 is values

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0      1            5.1           3.5            1.4           0.2
5      6            5.4           3.9            1.7           0.4
10    11            5.4           3.7            1.5           0.2
14    15            5.8           4.0            1.2           0.2
15    16            5.7           4.4            1.5           0.4
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

[118 rows x 5 columns]

In [45]:
#PetalLength & PetalWidth >5 & PetalLength & PetalWidth & Species
df.loc[(df['PetalLengthCm']>1) & (df['PetalWidthCm']>3), df.columns != 'Id']

Empty DataFrame
Columns: [SepalLengthCm, SepalWidthCm, PetalLengthCm, PetalWidthCm, Species]
Index: []

In [ ]:
housing=pd.read_csv('dataset/Housing.csv')
housing

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

In [46]:
from sklearn.datasets import load_wine  #pip install scikit-learn
wine=load_wine()
wine

{'data': array([[1.423e+01, 1.710e+00, 2.430e+00, ..., 1.040e+00, 3.920e+00,
         1.065e+03],
        [1.320e+01, 1.780e+00, 2.140e+00, ..., 1.050e+00, 3.400e+00,
         1.050e+03],
        [1.316e+01, 2.360e+00, 2.670e+00, ..., 1.030e+00, 3.170e+00,
         1.185e+03],
        ...,
        [1.327e+01, 4.280e+00, 2.260e+00, ..., 5.900e-01, 1.560e+00,
         8.350e+02],
        [1.317e+01, 2.590e+00, 2.370e+00, ..., 6.000e-01, 1.620e+00,
         8.400e+02],
        [1.413e+01, 4.100e+00, 2.740e+00, ..., 6.100e-01, 1.600e+00,
         5.600e+02]], shape=(178, 13)),
 'target': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2]),
 'frame': None,
 'target_names': array(['class_0', 'class_1', 'class_2'], dtype='<U7'),
 'DESCR': '.. _wine_dataset:\n\nWine recognition dataset\n------------------------\n\n**Data Set Characteristics:**\n\n:Number of Instances: 178\n:Number of Attributes: 13 numeric, predictive attributes and the class\n:Attribute Information:\n    - Alcohol\n    - Malic acid\n    - Ash\n    - Alcalinity of ash\n    - Magnesium\n    - Total phenols\n    - Flavanoids\n    - Nonflavanoid phenols\n    - Proanthocyanins\n    - Color intensity\n    - Hue\n    - OD280/OD315 of diluted wines\n    - Proline\n    - class:\n        - class_0\n        - class_1\n        - class_2\n\n:Summary Statistics:\n\n============================= ==== ===== ======= =====\n                                Min   Max   Mean     SD\n============================= ==== ===== ======= =====\nAlcohol:                      11.0  14.8    13.0   0.8\nMalic Acid:                   0.74  5.80    2.34  1.12\nAsh:                          1.36  3.23    2.36  0.27\nAlcalinity of Ash:            10.6  30.0    19.5   3.3\nMagnesium:                    70.0 162.0    99.7  14.3\nTotal Phenols:                0.98  3.88    2.29  0.63\nFlavanoids:                   0.34  5.08    2.03  1.00\nNonflavanoid Phenols:         0.13  0.66    0.36  0.12\nProanthocyanins:              0.41  3.58    1.59  0.57\nColour Intensity:              1.3  13.0     5.1   2.3\nHue:                          0.48  1.71    0.96  0.23\nOD280/OD315 of diluted wines: 1.27  4.00    2.61  0.71\nProline:                       278  1680     746   315\n============================= ==== ===== ======= =====\n\n:Missing Attribute Values: None\n:Class Distribution: class_0 (59), class_1 (71), class_2 (48)\n:Creator: R.A. Fisher\n:Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)\n:Date: July, 1988\n\nThis is a copy of UCI ML Wine recognition datasets.\nhttps://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data\n\nThe data is the results of a chemical analysis of wines grown in the same\nregion in Italy by three different cultivators. There are thirteen different\nmeasurements taken for different constituents found in the three types of\nwine.\n\nOriginal Owners:\n\nForina, M. et al, PARVUS -\nAn Extendible Package for Data Exploration, Classification and Correlation.\nInstitute of Pharmaceutical and Food Analysis and Technologies,\nVia Brigata Salerno, 16147 Genoa, Italy.\n\nCitation:\n\nLichman, M. (2013). UCI Machine Learning Repository\n[https://archive.ics.uci.edu/ml]. Irvine, CA: University of California,\nSchool of Information and Computer Science.\n\n.. dropdown:: References\n\n    (1) S. Aeberhard, D. Coomans and O. de Vel,\n    Comparison of Classifiers in High Dimensional Settings,\n    Tech. Rep. no. 92-02, (1992), Dept. of Computer Science and Dept. of\n    Mathematics and Statistics, James Cook University of North Queensland.\n    (Also submitted to Technometrics).\n\n    The data was used with many others for comparing various\n    classifiers. The classes are separable, though only RDA\n    has achieved 100% correct classification.\n    (RDA : 100%, QDA 99.4%, LDA 98.9%, 1NN 96.1% (z-transformed data))\n    (All results using the leave-one-out technique)\n\n    (2) S. Aeberhard, D. Coomans and O. de Vel,\n    "THE CLASSIFICATION PERFORMANCE OF RDA"\n    Tech. Rep. no. 92-01, (1992), Dept. of Computer Science and Dept. of\n    Mathematics and Statistics, James Cook University of North Queensland.\n    (Also submitted to Journal of Chemometrics).\n',
 'feature_names': ['alcohol',
  'malic_acid',
  'ash',
  'alcalinity_of_ash',
  'magnesium',
  'total_phenols',
  'flavanoids',
  'nonflavanoid_phenols',
  'proanthocyanins',
  'color_intensity',
  'hue',
  'od280/od315_of_diluted_wines',
  'proline']}

In [47]:
wine.target

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2])

In [48]:
wine.target_names

array(['class_0', 'class_1', 'class_2'], dtype='<U7')

In [49]:
wine=load_wine(return_X_y=True,as_frame=True)
wine

(     alcohol  malic_acid   ash  alcalinity_of_ash  magnesium  total_phenols  \
 0      14.23        1.71  2.43               15.6      127.0           2.80
 1      13.20        1.78  2.14               11.2      100.0           2.65
 2      13.16        2.36  2.67               18.6      101.0           2.80
 3      14.37        1.95  2.50               16.8      113.0           3.85
 4      13.24        2.59  2.87               21.0      118.0           2.80
 ..       ...         ...   ...                ...        ...            ...
 173    13.71        5.65  2.45               20.5       95.0           1.68
 174    13.40        3.91  2.48               23.0      102.0           1.80
 175    13.27        4.28  2.26               20.0      120.0           1.59
 176    13.17        2.59  2.37               20.0      120.0           1.65
 177    14.13        4.10  2.74               24.5       96.0           2.05

      flavanoids  nonflavanoid_phenols  proanthocyanins  color_intensity   hue  \
 0          3.06                  0.28             2.29             5.64  1.04
 1          2.76                  0.26             1.28             4.38  1.05
 2          3.24                  0.30             2.81             5.68  1.03
 3          3.49                  0.24             2.18             7.80  0.86
 4          2.69                  0.39             1.82             4.32  1.04
 ..          ...                   ...              ...              ...   ...
 173        0.61                  0.52             1.06             7.70  0.64
 174        0.75                  0.43             1.41             7.30  0.70
 175        0.69                  0.43             1.35            10.20  0.59
 176        0.68                  0.53             1.46             9.30  0.60
 177        0.76                  0.56             1.35             9.20  0.61

      od280/od315_of_diluted_wines  proline
 0                            3.92   1065.0
 1                            3.40   1050.0
 2                            3.17   1185.0
 3                            3.45   1480.0
 4                            2.93    735.0
 ..                            ...      ...
 173                          1.74    740.0
 174                          1.56    750.0
 175                          1.56    835.0
 176                          1.62    840.0
 177                          1.60    560.0

 [178 rows x 13 columns],
 0      0
 1      0
 2      0
 3      0
 4      0
       ..
 173    2
 174    2
 175    2
 176    2
 177    2
 Name: target, Length: 178, dtype: int64)

In [50]:
X,y=load_wine(return_X_y=True,as_frame=True)
X

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740.0
174,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750.0
175,13.27,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835.0
176,13.17,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840.0
177,14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560.0

In [51]:
y

0      0
1      0
2      0
3      0
4      0
      ..
173    2
174    2
175    2
176    2
177    2
Name: target, Length: 178, dtype: int64

In [52]:
housing.corr(numeric_only=True)   ##

NameError: name 'housing' is not defined

In [60]:
#Day9
#box plot
#line plot
#bar chart

In [61]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
df.Species.value_counts()

Species
Iris-versicolor    50
Iris-virginica     50
Iris-setosa        49
Name: count, dtype: int64

In [55]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [58]:
df.isnull().sum()    #'0' indicates no value/ null value in dataset!

Id               0
SepalLengthCm    0
SepalWidthCm     1
PetalLengthCm    1
PetalWidthCm     0
Species          1
dtype: int64

In [57]:
df.isnull()

        Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0    False          False         False          False         False    False
1    False          False         False          False         False    False
2    False          False         False          False         False    False
3    False          False         False          False         False    False
4    False          False         False          False         False    False
..     ...            ...           ...            ...           ...      ...
145  False          False         False          False         False    False
146  False          False         False          False         False    False
147  False          False         False          False         False    False
148  False          False         False          False         False    False
149  False          False         False          False         False    False

[150 rows x 6 columns]

In [57]:
df.notnull().sum()

Id               150
SepalLengthCm    150
SepalWidthCm     149
PetalLengthCm    149
PetalWidthCm     150
Species          149
dtype: int64

In [56]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           NaN            1.4           0.2          NaN
2   3            4.7           3.2            NaN           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [55]:
import numpy as np
df.iloc[1,2]= np.nan  #nan means not a number (pronunce nan value)
df.iloc[2,3]= np.nan 
df.iloc[1,-1]= np.nan 
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           NaN            1.4           0.2          NaN
2   3            4.7           3.2            NaN           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [54]:
df.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [53]:
#remove null
df.dropna()   #just remove the result

#to actually remove, not just result
#df.dropna(inplace=True)  #1st way to actually remove
#df=df.dropna()           #2nd way to actually remove

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.500000,1.4,0.2,Iris-setosa
1,2,4.9,3.054362,1.4,0.2,Iris-versicolor
2,3,4.7,3.200000,6.9,0.2,Iris-setosa
3,4,4.6,3.100000,1.5,0.2,Iris-setosa
4,5,5.0,3.600000,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.000000,5.2,2.3,Iris-virginica
146,147,6.3,2.500000,5.0,1.9,Iris-virginica
147,148,6.5,3.000000,5.2,2.0,Iris-virginica
148,149,6.2,3.400000,5.4,2.3,Iris-virginica
149,150,5.9,3.000000,5.1,1.8,Iris-virginica

In [52]:
df.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.500000,1.4,0.2,Iris-setosa
1,2,4.9,3.054362,1.4,0.2,Iris-versicolor
2,3,4.7,3.200000,6.9,0.2,Iris-setosa
3,4,4.6,3.100000,1.5,0.2,Iris-setosa
4,5,5.0,3.600000,1.4,0.2,Iris-setosa

In [51]:
df.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [50]:
#fill with constant values

df['PetalWidthCm'].fillna('0',inplace=True)   #to overwrite
df['PetalLengthCm'].fillna('-1',inplace=True)
df['Species'].fillna('unknown',inplace=True)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_18676\3297909153.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['PetalWidthCm'].fillna('0',inplace=True)   #to overwrite
C:\Users\ASUS\AppData\Local\Temp\ipykernel_18676\3297909153.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['PetalLengthCm'].fillna('-1',inplace=True)

In [49]:
df.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.500000,1.4,0.2,Iris-setosa
1,2,4.9,3.054362,1.4,0.2,Iris-versicolor
2,3,4.7,3.200000,6.9,0.2,Iris-setosa
3,4,4.6,3.100000,1.5,0.2,Iris-setosa
4,5,5.0,3.600000,1.4,0.2,Iris-setosa

In [47]:
#Replacing with statstical values - max, mean, std, mode
mean_value=df.SepalWidthCm.mean()
max_value= df.PetalLengthCm.max()
mean_value

np.float64(3.0543624161073826)

In [48]:
df.SepalWidthCm.fillna(mean_value,inplace=True)   #to be original value we used "inplace=True" (not to overwrite values)
df.PetalLengthCm.fillna(max_value,inplace=True)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_18676\1142325942.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.SepalWidthCm.fillna(mean_value,inplace=True)   #to be original value we used "inplace=True" (not to overwrite values)
C:\Users\ASUS\AppData\Local\Temp\ipykernel_18676\1142325942.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.PetalLengthCm.fillna(max_value,inplace=True)

In [ ]:
df.head()    #So, now null value is replaced with 3.054 (mean_value)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1      3.500000            1.4           0.2  Iris-setosa
1   2            4.9      3.054362            1.4           0.2          NaN
2   3            4.7      3.200000            6.9           0.2  Iris-setosa
3   4            4.6      3.100000            1.5           0.2  Iris-setosa
4   5            5.0      3.600000            1.4           0.2  Iris-setosa

In [45]:
#For species column, need to use mode() function as it is alphabetical 
mode_value=df.Species.mode()
mode_value

0    Iris-versicolor
Name: Species, dtype: object

In [44]:
#To get most frequent item: 
df.Species.mode()[0]   #mode function return arrays

'Iris-versicolor'

In [43]:
df.Species.fillna(df.Species.mode()[0],inplace=True)   #Why not recevied output? in professor she got!!

C:\Users\ASUS\AppData\Local\Temp\ipykernel_18676\1021090331.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.Species.fillna(df.Species.mode()[0],inplace=True)   #Why not recevied output? in professor she got!!

In [42]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           NaN            1.4           0.2          NaN
2   3            4.7           3.2            NaN           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [41]:
#immutation -> missing values
#pip install scikit-learn
import numpy as np
df.iloc[1,2]= np.nan  #nan means not a number (pronunce nan value)
df.iloc[2,3]= np.nan 
df.iloc[1,-1]= np.nan 
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           NaN            1.4           0.2          NaN
2   3            4.7           3.2            NaN           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [39]:
import numpy as np
from sklearn.impute import SimpleImputer   #we are using simpleimputer instead of pandas
imp = SimpleImputer(missing_values=np.nan, strategy='mean')

In [40]:
imp

SimpleImputer()

In [28]:
new_values=imp.fit_transform([df.SepalWidthCm])   #fit transform is converting missing value into something that will be calculated depending on parameters we defined
new_values
#imp.fit_transform(df.SepalWidthCm.values.reshape(-1,1))
#imp.fit_tranform(df.SepalWidthCm.to_frame())

array([[3.5       , 3.05436242, 3.2       , 3.1       , 3.6       ,
        3.9       , 3.4       , 3.4       , 2.9       , 3.1       ,
        3.7       , 3.4       , 3.        , 3.        , 4.        ,
        4.4       , 3.9       , 3.5       , 3.8       , 3.8       ,
        3.4       , 3.7       , 3.6       , 3.3       , 3.4       ,
        3.        , 3.4       , 3.5       , 3.4       , 3.2       ,
        3.1       , 3.4       , 4.1       , 4.2       , 3.1       ,
        3.2       , 3.5       , 3.1       , 3.        , 3.4       ,
        3.5       , 2.3       , 3.2       , 3.5       , 3.8       ,
        3.        , 3.8       , 3.2       , 3.7       , 3.3       ,
        3.2       , 3.2       , 3.1       , 2.3       , 2.8       ,
        2.8       , 3.3       , 2.4       , 2.9       , 2.7       ,
        2.        , 3.        , 2.2       , 2.9       , 2.9       ,
        3.1       , 3.        , 2.7       , 2.2       , 2.5       ,
        3.2       , 2.8       , 2.5       , 2.8       , 2.9       ,
        3.        , 2.8       , 3.        , 2.9       , 2.6       ,
        2.4       , 2.4       , 2.7       , 2.7       , 3.        ,
        3.4       , 3.1       , 2.3       , 3.        , 2.5       ,
        2.6       , 3.        , 2.6       , 2.3       , 2.7       ,
        3.        , 2.9       , 2.9       , 2.5       , 2.8       ,
        3.3       , 2.7       , 3.        , 2.9       , 3.        ,
        3.        , 2.5       , 2.9       , 2.5       , 3.6       ,
        3.2       , 2.7       , 3.        , 2.5       , 2.8       ,
        3.2       , 3.        , 3.8       , 2.6       , 2.2       ,
        3.2       , 2.8       , 2.8       , 2.7       , 3.3       ,
        3.2       , 2.8       , 3.        , 2.8       , 3.        ,
        2.8       , 3.8       , 2.8       , 2.8       , 2.6       ,
        3.        , 3.4       , 3.1       , 3.        , 3.1       ,
        3.1       , 3.1       , 2.7       , 3.2       , 3.3       ,
        3.        , 2.5       , 3.        , 3.4       , 3.        ]])

In [29]:
type(new_values)

numpy.ndarray

In [30]:
df.SepalWidthCm=new_values.ravel()
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1      3.500000            1.4           0.2  Iris-setosa
1   2            4.9      3.054362            1.4           0.2          NaN
2   3            4.7      3.200000            NaN           0.2  Iris-setosa
3   4            4.6      3.100000            1.5           0.2  Iris-setosa
4   5            5.0      3.600000            1.4           0.2  Iris-setosa

In [31]:
#Day10

import numpy as np
import pandas as pd
df=pd.read_csv('dataset/Iris.csv')
df.iloc[1,2]=np.nan
df.iloc[2,3]=np.nan
df.iloc[1,-1]=np.nan
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           NaN            1.4           0.2          NaN
2   3            4.7           3.2            NaN           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [6]:
from sklearn.impute import SimpleImputer
imp = SimpleImputer(missing_values=np.nan, strategy='mean')

In [7]:
imp

SimpleImputer()

In [32]:
imp.fit_transform(df[['SepalWidthCm','SepalLengthCm']])

array([[3.5       , 5.1       ],
       [3.05436242, 4.9       ],
       [3.2       , 4.7       ],
       [3.1       , 4.6       ],
       [3.6       , 5.        ],
       [3.9       , 5.4       ],
       [3.4       , 4.6       ],
       [3.4       , 5.        ],
       [2.9       , 4.4       ],
       [3.1       , 4.9       ],
       [3.7       , 5.4       ],
       [3.4       , 4.8       ],
       [3.        , 4.8       ],
       [3.        , 4.3       ],
       [4.        , 5.8       ],
       [4.4       , 5.7       ],
       [3.9       , 5.4       ],
       [3.5       , 5.1       ],
       [3.8       , 5.7       ],
       [3.8       , 5.1       ],
       [3.4       , 5.4       ],
       [3.7       , 5.1       ],
       [3.6       , 4.6       ],
       [3.3       , 5.1       ],
       [3.4       , 4.8       ],
       [3.        , 5.        ],
       [3.4       , 5.        ],
       [3.5       , 5.2       ],
       [3.4       , 5.2       ],
       [3.2       , 4.7       ],
       [3.1       , 4.8       ],
       [3.4       , 5.4       ],
       [4.1       , 5.2       ],
       [4.2       , 5.5       ],
       [3.1       , 4.9       ],
       [3.2       , 5.        ],
       [3.5       , 5.5       ],
       [3.1       , 4.9       ],
       [3.        , 4.4       ],
       [3.4       , 5.1       ],
       [3.5       , 5.        ],
       [2.3       , 4.5       ],
       [3.2       , 4.4       ],
       [3.5       , 5.        ],
       [3.8       , 5.1       ],
       [3.        , 4.8       ],
       [3.8       , 5.1       ],
       [3.2       , 4.6       ],
       [3.7       , 5.3       ],
       [3.3       , 5.        ],
       [3.2       , 7.        ],
       [3.2       , 6.4       ],
       [3.1       , 6.9       ],
       [2.3       , 5.5       ],
       [2.8       , 6.5       ],
       [2.8       , 5.7       ],
       [3.3       , 6.3       ],
       [2.4       , 4.9       ],
       [2.9       , 6.6       ],
       [2.7       , 5.2       ],
       [2.        , 5.        ],
       [3.        , 5.9       ],
       [2.2       , 6.        ],
       [2.9       , 6.1       ],
       [2.9       , 5.6       ],
       [3.1       , 6.7       ],
       [3.        , 5.6       ],
       [2.7       , 5.8       ],
       [2.2       , 6.2       ],
       [2.5       , 5.6       ],
       [3.2       , 5.9       ],
       [2.8       , 6.1       ],
       [2.5       , 6.3       ],
       [2.8       , 6.1       ],
       [2.9       , 6.4       ],
       [3.        , 6.6       ],
       [2.8       , 6.8       ],
       [3.        , 6.7       ],
       [2.9       , 6.        ],
       [2.6       , 5.7       ],
       [2.4       , 5.5       ],
       [2.4       , 5.5       ],
       [2.7       , 5.8       ],
       [2.7       , 6.        ],
       [3.        , 5.4       ],
       [3.4       , 6.        ],
       [3.1       , 6.7       ],
       [2.3       , 6.3       ],
       [3.        , 5.6       ],
       [2.5       , 5.5       ],
       [2.6       , 5.5       ],
       [3.        , 6.1       ],
       [2.6       , 5.8       ],
       [2.3       , 5.        ],
       [2.7       , 5.6       ],
       [3.        , 5.7       ],
       [2.9       , 5.7       ],
       [2.9       , 6.2       ],
       [2.5       , 5.1       ],
       [2.8       , 5.7       ],
       [3.3       , 6.3       ],
       [2.7       , 5.8       ],
       [3.        , 7.1       ],
       [2.9       , 6.3       ],
       [3.        , 6.5       ],
       [3.        , 7.6       ],
       [2.5       , 4.9       ],
       [2.9       , 7.3       ],
       [2.5       , 6.7       ],
       [3.6       , 7.2       ],
       [3.2       , 6.5       ],
       [2.7       , 6.4       ],
       [3.        , 6.8       ],
       [2.5       , 5.7       ],
       [2.8       , 5.8       ],
       [3.2       , 6.4       ],
       [3.        , 6.5       ],
       [3.8       , 7.7       ],
       [2.6       , 7.7       ],
       [2.2       , 6.        ],
       [3.2       , 6.9       ],
       [2.8       , 5.6       ],
       [2.8       , 7.7       ],
       [2.7       , 6.3       ],
       [3.3       , 6.7       ],
       [3.2       , 7.2       ],
       [2.8       , 6.2       ],
       [3.        , 6.1       ],
       [2.8       , 6.4       ],
       [3.        , 7.2       ],
       [2.8       , 7.4       ],
       [3.8       , 7.9       ],
       [2.8       , 6.4       ],
       [2.8       , 6.3       ],
       [2.6       , 6.1       ],
       [3.        , 7.7       ],
       [3.4       , 6.3       ],
       [3.1       , 6.4       ],
       [3.        , 6.        ],
       [3.1       , 6.9       ],
       [3.1       , 6.7       ],
       [3.1       , 6.9       ],
       [2.7       , 5.8       ],
       [3.2       , 6.8       ],
       [3.3       , 6.7       ],
       [3.        , 6.7       ],
       [2.5       , 6.3       ],
       [3.        , 6.5       ],
       [3.4       , 6.2       ],
       [3.        , 5.9       ]])

In [33]:
df['SepalWidthCm'].values.reshape(-1,1)

array([[3.5],
       [nan],
       [3.2],
       [3.1],
       [3.6],
       [3.9],
       [3.4],
       [3.4],
       [2.9],
       [3.1],
       [3.7],
       [3.4],
       [3. ],
       [3. ],
       [4. ],
       [4.4],
       [3.9],
       [3.5],
       [3.8],
       [3.8],
       [3.4],
       [3.7],
       [3.6],
       [3.3],
       [3.4],
       [3. ],
       [3.4],
       [3.5],
       [3.4],
       [3.2],
       [3.1],
       [3.4],
       [4.1],
       [4.2],
       [3.1],
       [3.2],
       [3.5],
       [3.1],
       [3. ],
       [3.4],
       [3.5],
       [2.3],
       [3.2],
       [3.5],
       [3.8],
       [3. ],
       [3.8],
       [3.2],
       [3.7],
       [3.3],
       [3.2],
       [3.2],
       [3.1],
       [2.3],
       [2.8],
       [2.8],
       [3.3],
       [2.4],
       [2.9],
       [2.7],
       [2. ],
       [3. ],
       [2.2],
       [2.9],
       [2.9],
       [3.1],
       [3. ],
       [2.7],
       [2.2],
       [2.5],
       [3.2],
       [2.8],
       [2.5],
       [2.8],
       [2.9],
       [3. ],
       [2.8],
       [3. ],
       [2.9],
       [2.6],
       [2.4],
       [2.4],
       [2.7],
       [2.7],
       [3. ],
       [3.4],
       [3.1],
       [2.3],
       [3. ],
       [2.5],
       [2.6],
       [3. ],
       [2.6],
       [2.3],
       [2.7],
       [3. ],
       [2.9],
       [2.9],
       [2.5],
       [2.8],
       [3.3],
       [2.7],
       [3. ],
       [2.9],
       [3. ],
       [3. ],
       [2.5],
       [2.9],
       [2.5],
       [3.6],
       [3.2],
       [2.7],
       [3. ],
       [2.5],
       [2.8],
       [3.2],
       [3. ],
       [3.8],
       [2.6],
       [2.2],
       [3.2],
       [2.8],
       [2.8],
       [2.7],
       [3.3],
       [3.2],
       [2.8],
       [3. ],
       [2.8],
       [3. ],
       [2.8],
       [3.8],
       [2.8],
       [2.8],
       [2.6],
       [3. ],
       [3.4],
       [3.1],
       [3. ],
       [3.1],
       [3.1],
       [3.1],
       [2.7],
       [3.2],
       [3.3],
       [3. ],
       [2.5],
       [3. ],
       [3.4],
       [3. ]])

In [34]:
transformed_data=imp.fit_transform(df['SepalWidthCm'].to_frame())
df['SepalWidthCm']=transformed_data
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1      3.500000            1.4           0.2  Iris-setosa
1   2            4.9      3.054362            1.4           0.2          NaN
2   3            4.7      3.200000            NaN           0.2  Iris-setosa
3   4            4.6      3.100000            1.5           0.2  Iris-setosa
4   5            5.0      3.600000            1.4           0.2  Iris-setosa

In [35]:
imp1 = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
imp1.fit_transform(df[['Species']].values.reshape(-1,1))

array([['Iris-setosa'],
       ['Iris-versicolor'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica']], dtype=object)

In [36]:
#Ame's housing dataset
ames=pd.read_csv("dataset/AmesHousing.csv")
ames.head()

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,1,526301100,20,RL,141.0,31770,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,215000
1,2,526350040,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,105000
2,3,526351010,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,172000
3,4,526353030,20,RL,93.0,11160,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,244000
4,5,527105010,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,189900

In [12]:
len(ames)

2930

In [15]:
#To check missing values
ames.isnull().sum()

Order               0
PID                 0
MS SubClass         0
MS Zoning           0
Lot Frontage      490
                 ...
Mo Sold             0
Yr Sold             0
Sale Type           0
Sale Condition      0
SalePrice           0
Length: 82, dtype: int64

In [16]:
#to check data types
ames.dtypes

Order               int64
PID                 int64
MS SubClass         int64
MS Zoning          object
Lot Frontage      float64
                   ...
Mo Sold             int64
Yr Sold             int64
Sale Type          object
Sale Condition     object
SalePrice           int64
Length: 82, dtype: object

In [ ]:
numeric_col=ames.select_dtypes(include=['int','float'])  #professor want to include every number thus, both int and float
numeric_col.columns     #output is just numeric numbers! int and float!

Index(['Order', 'PID', 'MS SubClass', 'Lot Frontage', 'Lot Area',
       'Overall Qual', 'Overall Cond', 'Year Built', 'Year Remod/Add',
       'Mas Vnr Area', 'BsmtFin SF 1', 'BsmtFin SF 2', 'Bsmt Unf SF',
       'Total Bsmt SF', '1st Flr SF', '2nd Flr SF', 'Low Qual Fin SF',
       'Gr Liv Area', 'Bsmt Full Bath', 'Bsmt Half Bath', 'Full Bath',
       'Half Bath', 'Bedroom AbvGr', 'Kitchen AbvGr', 'TotRms AbvGrd',
       'Fireplaces', 'Garage Yr Blt', 'Garage Cars', 'Garage Area',
       'Wood Deck SF', 'Open Porch SF', 'Enclosed Porch', '3Ssn Porch',
       'Screen Porch', 'Pool Area', 'Misc Val', 'Mo Sold', 'Yr Sold',
       'SalePrice'],
      dtype='object')

In [18]:
len(numeric_col.columns)

39

In [ ]:
#Categorical column
cate_col=ames.select_dtypes(include='O')  #O not 0!  #'O' = object dtype → usually strings or mixed types.
cate_col.columns    #cate_col=ames.select_dtypes(include='object')  #can write either 'O' or 'object'

Index(['MS Zoning', 'Street', 'Alley', 'Lot Shape', 'Land Contour',
       'Utilities', 'Lot Config', 'Land Slope', 'Neighborhood', 'Condition 1',
       'Condition 2', 'Bldg Type', 'House Style', 'Roof Style', 'Roof Matl',
       'Exterior 1st', 'Exterior 2nd', 'Mas Vnr Type', 'Exter Qual',
       'Exter Cond', 'Foundation', 'Bsmt Qual', 'Bsmt Cond', 'Bsmt Exposure',
       'BsmtFin Type 1', 'BsmtFin Type 2', 'Heating', 'Heating QC',
       'Central Air', 'Electrical', 'Kitchen Qual', 'Functional',
       'Fireplace Qu', 'Garage Type', 'Garage Finish', 'Garage Qual',
       'Garage Cond', 'Paved Drive', 'Pool QC', 'Fence', 'Misc Feature',
       'Sale Type', 'Sale Condition'],
      dtype='object')

In [22]:
len(cate_col.columns)

43

In [23]:
#For numeric value
imp = SimpleImputer(missing_values=np.nan, strategy='mean')
imp.fit_transform(numeric_col)       #going to put every numric columns

array([[1.00000000e+00, 5.26301100e+08, 2.00000000e+01, ...,
        5.00000000e+00, 2.01000000e+03, 2.15000000e+05],
       [2.00000000e+00, 5.26350040e+08, 2.00000000e+01, ...,
        6.00000000e+00, 2.01000000e+03, 1.05000000e+05],
       [3.00000000e+00, 5.26351010e+08, 2.00000000e+01, ...,
        6.00000000e+00, 2.01000000e+03, 1.72000000e+05],
       ...,
       [2.92800000e+03, 9.23400125e+08, 8.50000000e+01, ...,
        7.00000000e+00, 2.00600000e+03, 1.32000000e+05],
       [2.92900000e+03, 9.24100070e+08, 2.00000000e+01, ...,
        4.00000000e+00, 2.00600000e+03, 1.70000000e+05],
       [2.93000000e+03, 9.24151050e+08, 6.00000000e+01, ...,
        1.10000000e+01, 2.00600000e+03, 1.88000000e+05]], shape=(2930, 39))

In [64]:
numeric_dataframe=pd.DataFrame(transformed_data,
    columns=numeric_col.columns,
    index=ames.index)
numeric_dataframe.head()

ValueError: Shape of passed values is (150, 1), indices imply (2930, 39)

In [65]:
#Categorical

imp = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
transformed_data=imp.fit_transform(cate_col)
cate_dataframe=pd.DataFrame(transformed_data,columns=cate_col.columns,index=ames.index)
cate_dataframe.head()

,MS Zoning,Street,Alley,Lot Shape,Land Contour,Utilities,Lot Config,Land Slope,Neighborhood,Condition 1,...,Garage Type,Garage Finish,Garage Qual,Garage Cond,Paved Drive,Pool QC,Fence,Misc Feature,Sale Type,Sale Condition
0,RL,Pave,Grvl,IR1,Lvl,AllPub,Corner,Gtl,NAmes,Norm,...,Attchd,Fin,TA,TA,P,Ex,MnPrv,Shed,WD,Normal
1,RH,Pave,Grvl,Reg,Lvl,AllPub,Inside,Gtl,NAmes,Feedr,...,Attchd,Unf,TA,TA,Y,Ex,MnPrv,Shed,WD,Normal
2,RL,Pave,Grvl,IR1,Lvl,AllPub,Corner,Gtl,NAmes,Norm,...,Attchd,Unf,TA,TA,Y,Ex,MnPrv,Gar2,WD,Normal
3,RL,Pave,Grvl,Reg,Lvl,AllPub,Corner,Gtl,NAmes,Norm,...,Attchd,Fin,TA,TA,Y,Ex,MnPrv,Shed,WD,Normal
4,RL,Pave,Grvl,IR1,Lvl,AllPub,Inside,Gtl,Gilbert,Norm,...,Attchd,Fin,TA,TA,Y,Ex,MnPrv,Shed,WD,Normal

In [66]:
cate_col.head()

,MS Zoning,Street,Alley,Lot Shape,Land Contour,Utilities,Lot Config,Land Slope,Neighborhood,Condition 1,...,Garage Type,Garage Finish,Garage Qual,Garage Cond,Paved Drive,Pool QC,Fence,Misc Feature,Sale Type,Sale Condition
0,RL,Pave,NaN,IR1,Lvl,AllPub,Corner,Gtl,NAmes,Norm,...,Attchd,Fin,TA,TA,P,NaN,NaN,NaN,WD,Normal
1,RH,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,NAmes,Feedr,...,Attchd,Unf,TA,TA,Y,NaN,MnPrv,NaN,WD,Normal
2,RL,Pave,NaN,IR1,Lvl,AllPub,Corner,Gtl,NAmes,Norm,...,Attchd,Unf,TA,TA,Y,NaN,NaN,Gar2,WD,Normal
3,RL,Pave,NaN,Reg,Lvl,AllPub,Corner,Gtl,NAmes,Norm,...,Attchd,Fin,TA,TA,Y,NaN,NaN,NaN,WD,Normal
4,RL,Pave,NaN,IR1,Lvl,AllPub,Inside,Gtl,Gilbert,Norm,...,Attchd,Fin,TA,TA,Y,NaN,MnPrv,NaN,WD,Normal

In [ ]:
pd.concat([numeric_dataframe,cate_dataframe],axis=1)

NameError: name 'numeric_dataframe' is not defined

In [68]:
ames.isnull().sum()

Order               0
PID                 0
MS SubClass         0
MS Zoning           0
Lot Frontage      490
                 ...
Mo Sold             0
Yr Sold             0
Sale Type           0
Sale Condition      0
SalePrice           0
Length: 82, dtype: int64

In [2]:
#Day11
import pandas as pd
iris=pd.read_csv('dataset/Iris.csv')
iris.dropna(inplace=True)
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
#Laber encoder
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
iris['target']=le.fit_transform(iris['Species'].values.reshape(-1,1))

d:\MachineLearning\myvenv\Lib\site-packages\sklearn\preprocessing\_label.py:110: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [4]:
iris.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,target
0,1,5.1,3.5,1.4,0.2,Iris-setosa,0
1,2,4.9,3.0,1.4,0.2,Iris-setosa,0
2,3,4.7,3.2,1.3,0.2,Iris-setosa,0
3,4,4.6,3.1,1.5,0.2,Iris-setosa,0
4,5,5.0,3.6,1.4,0.2,Iris-setosa,0

In [5]:
iris.target.value_counts()

target
0    50
1    50
2    50
Name: count, dtype: int64

In [ ]:
pd.get_dummies(iris['Species'])

In [3]:
#One hot encoder 
from sklearn.preprocessing import LabelEncoder,OneHotEncoder,OrdinalEncoder

onehot_encode=OneHotEncoder(sparse_output=False)
one_hot_result=onehot_encode.fit_transform(iris['Species'].values.reshape(-1,1))
one_hot_result

NameError: name 'iris' is not defined

In [ ]:
or_encoder=OrdinalEncoder()
or_value=or_encoder.fit_transform(iris['Species'].to_frame())
iris['or_value']=or_value
iris.head()

In [ ]:
iris.or_value=iris.or_value.astype('int')
iris.head()

In [6]:
housing=pd.read_csv('dataset/Housing.csv')
housing.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [ ]:
# one way of converting data with custom code
label_match={"yes":1,"no":0}
housing['mainroad']=housing['mainroad'].map(label_match)
housing.head()

In [ ]:
housing[['guestroom','basement','hotwaterheating','airconditioning','parking']]=or_encoder.fit_transform(housing[['guestroom','basement','hotwaterheating','airconditioning','parking']])
housing.head()

In [ ]:
housing['prefarea']=lbl_encoder.fit_transform(housing[['prefarea']])
housing['furnishingstatus']=or_encoder.fit_transform(housing[['furnishingstatus']])
housing['furnishingstatus']=housing['furnishingstatus'].astype('int')
housing.head()

## One hot encoding
## One way - splitting into different columns

In [ ]:
#Day 12

from sklearn.preprocessing import OneHotEncoder
import pandas as pd


encoded = onehot_encode.fit_transform(iris[['Species']])
encoded[:4]

In [ ]:
encoded_df = pd.DataFrame(encoded, columns=onehot_encode.get_feature_names_out(['Species']))
encoded_df.head()

In [ ]:
iris_encoded = pd.concat([iris, encoded_df], axis=1)
iris_encoded.head()

## Another way - putting all them as array in one column

In [ ]:
encoded = onehot_encode.fit_transform(iris[['Species']])
iris['onehot'] = encoded.tolist()

iris.head()

In [1]:
iris['onehot'] = iris['onehot'].apply(lambda x: [int(i) for i in x])  # convert float list to int list
iris.head()

NameError: name 'iris' is not defined