In [1]:
import numpy as np
import pandas as pd

df=pd.read_csv('dataset/Iris.csv')

df.iloc[1,2]=np.nan
df.iloc[2,3]=np.nan
df.iloc[1,-1]=np.nan
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           NaN            1.4           0.2          NaN
2   3            4.7           3.2            NaN           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [2]:
df.dtypes[-1]

C:\Users\ASUS\AppData\Local\Temp\ipykernel_6828\93772735.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df.dtypes[-1]

dtype('O')

In [3]:
from sklearn.impute import SimpleImputer
imp = SimpleImputer(missing_values=np.nan, strategy='mean')

In [4]:
imp

SimpleImputer()

In [5]:
df[['SepalWidthCm']]

     SepalWidthCm
0             3.5
1             NaN
2             3.2
3             3.1
4             3.6
..            ...
145           3.0
146           2.5
147           3.0
148           3.4
149           3.0

[150 rows x 1 columns]

In [6]:
imp.fit_transform(df[['SepalWidthCm','PetalLengthCm']])

array([[3.5       , 1.4       ],
       [3.05436242, 1.4       ],
       [3.2       , 3.77516779],
       [3.1       , 1.5       ],
       [3.6       , 1.4       ],
       [3.9       , 1.7       ],
       [3.4       , 1.4       ],
       [3.4       , 1.5       ],
       [2.9       , 1.4       ],
       [3.1       , 1.5       ],
       [3.7       , 1.5       ],
       [3.4       , 1.6       ],
       [3.        , 1.4       ],
       [3.        , 1.1       ],
       [4.        , 1.2       ],
       [4.4       , 1.5       ],
       [3.9       , 1.3       ],
       [3.5       , 1.4       ],
       [3.8       , 1.7       ],
       [3.8       , 1.5       ],
       [3.4       , 1.7       ],
       [3.7       , 1.5       ],
       [3.6       , 1.        ],
       [3.3       , 1.7       ],
       [3.4       , 1.9       ],
       [3.        , 1.6       ],
       [3.4       , 1.6       ],
       [3.5       , 1.5       ],
       [3.4       , 1.4       ],
       [3.2       , 1.6       ],
       [3.1       , 1.6       ],
       [3.4       , 1.5       ],
       [4.1       , 1.5       ],
       [4.2       , 1.4       ],
       [3.1       , 1.5       ],
       [3.2       , 1.2       ],
       [3.5       , 1.3       ],
       [3.1       , 1.5       ],
       [3.        , 1.3       ],
       [3.4       , 1.5       ],
       [3.5       , 1.3       ],
       [2.3       , 1.3       ],
       [3.2       , 1.3       ],
       [3.5       , 1.6       ],
       [3.8       , 1.9       ],
       [3.        , 1.4       ],
       [3.8       , 1.6       ],
       [3.2       , 1.4       ],
       [3.7       , 1.5       ],
       [3.3       , 1.4       ],
       [3.2       , 4.7       ],
       [3.2       , 4.5       ],
       [3.1       , 4.9       ],
       [2.3       , 4.        ],
       [2.8       , 4.6       ],
       [2.8       , 4.5       ],
       [3.3       , 4.7       ],
       [2.4       , 3.3       ],
       [2.9       , 4.6       ],
       [2.7       , 3.9       ],
       [2.        , 3.5       ],
       [3.        , 4.2       ],
       [2.2       , 4.        ],
       [2.9       , 4.7       ],
       [2.9       , 3.6       ],
       [3.1       , 4.4       ],
       [3.        , 4.5       ],
       [2.7       , 4.1       ],
       [2.2       , 4.5       ],
       [2.5       , 3.9       ],
       [3.2       , 4.8       ],
       [2.8       , 4.        ],
       [2.5       , 4.9       ],
       [2.8       , 4.7       ],
       [2.9       , 4.3       ],
       [3.        , 4.4       ],
       [2.8       , 4.8       ],
       [3.        , 5.        ],
       [2.9       , 4.5       ],
       [2.6       , 3.5       ],
       [2.4       , 3.8       ],
       [2.4       , 3.7       ],
       [2.7       , 3.9       ],
       [2.7       , 5.1       ],
       [3.        , 4.5       ],
       [3.4       , 4.5       ],
       [3.1       , 4.7       ],
       [2.3       , 4.4       ],
       [3.        , 4.1       ],
       [2.5       , 4.        ],
       [2.6       , 4.4       ],
       [3.        , 4.6       ],
       [2.6       , 4.        ],
       [2.3       , 3.3       ],
       [2.7       , 4.2       ],
       [3.        , 4.2       ],
       [2.9       , 4.2       ],
       [2.9       , 4.3       ],
       [2.5       , 3.        ],
       [2.8       , 4.1       ],
       [3.3       , 6.        ],
       [2.7       , 5.1       ],
       [3.        , 5.9       ],
       [2.9       , 5.6       ],
       [3.        , 5.8       ],
       [3.        , 6.6       ],
       [2.5       , 4.5       ],
       [2.9       , 6.3       ],
       [2.5       , 5.8       ],
       [3.6       , 6.1       ],
       [3.2       , 5.1       ],
       [2.7       , 5.3       ],
       [3.        , 5.5       ],
       [2.5       , 5.        ],
       [2.8       , 5.1       ],
       [3.2       , 5.3       ],
       [3.        , 5.5       ],
       [3.8       , 6.7       ],
       [2.6       , 6.9       ],
       [2.2       , 5.        ],
       [3.2       , 5.7       ],
       [2.8       , 4.9       ],
       [2.8       , 6.7       ],
       [2.7       , 4.9       ],
       [3.3       , 5.7       ],
       [3.2       , 6.        ],
       [2.8       , 4.8       ],
       [3.        , 4.9       ],
       [2.8       , 5.6       ],
       [3.        , 5.8       ],
       [2.8       , 6.1       ],
       [3.8       , 6.4       ],
       [2.8       , 5.6       ],
       [2.8       , 5.1       ],
       [2.6       , 5.6       ],
       [3.        , 6.1       ],
       [3.4       , 5.6       ],
       [3.1       , 5.5       ],
       [3.        , 4.8       ],
       [3.1       , 5.4       ],
       [3.1       , 5.6       ],
       [3.1       , 5.1       ],
       [2.7       , 5.1       ],
       [3.2       , 5.9       ],
       [3.3       , 5.7       ],
       [3.        , 5.2       ],
       [2.5       , 5.        ],
       [3.        , 5.2       ],
       [3.4       , 5.4       ],
       [3.        , 5.1       ]])

In [7]:
df['SepalWidthCm'].values.reshape(-1,1)

array([[3.5],
       [nan],
       [3.2],
       [3.1],
       [3.6],
       [3.9],
       [3.4],
       [3.4],
       [2.9],
       [3.1],
       [3.7],
       [3.4],
       [3. ],
       [3. ],
       [4. ],
       [4.4],
       [3.9],
       [3.5],
       [3.8],
       [3.8],
       [3.4],
       [3.7],
       [3.6],
       [3.3],
       [3.4],
       [3. ],
       [3.4],
       [3.5],
       [3.4],
       [3.2],
       [3.1],
       [3.4],
       [4.1],
       [4.2],
       [3.1],
       [3.2],
       [3.5],
       [3.1],
       [3. ],
       [3.4],
       [3.5],
       [2.3],
       [3.2],
       [3.5],
       [3.8],
       [3. ],
       [3.8],
       [3.2],
       [3.7],
       [3.3],
       [3.2],
       [3.2],
       [3.1],
       [2.3],
       [2.8],
       [2.8],
       [3.3],
       [2.4],
       [2.9],
       [2.7],
       [2. ],
       [3. ],
       [2.2],
       [2.9],
       [2.9],
       [3.1],
       [3. ],
       [2.7],
       [2.2],
       [2.5],
       [3.2],
       [2.8],
       [2.5],
       [2.8],
       [2.9],
       [3. ],
       [2.8],
       [3. ],
       [2.9],
       [2.6],
       [2.4],
       [2.4],
       [2.7],
       [2.7],
       [3. ],
       [3.4],
       [3.1],
       [2.3],
       [3. ],
       [2.5],
       [2.6],
       [3. ],
       [2.6],
       [2.3],
       [2.7],
       [3. ],
       [2.9],
       [2.9],
       [2.5],
       [2.8],
       [3.3],
       [2.7],
       [3. ],
       [2.9],
       [3. ],
       [3. ],
       [2.5],
       [2.9],
       [2.5],
       [3.6],
       [3.2],
       [2.7],
       [3. ],
       [2.5],
       [2.8],
       [3.2],
       [3. ],
       [3.8],
       [2.6],
       [2.2],
       [3.2],
       [2.8],
       [2.8],
       [2.7],
       [3.3],
       [3.2],
       [2.8],
       [3. ],
       [2.8],
       [3. ],
       [2.8],
       [3.8],
       [2.8],
       [2.8],
       [2.6],
       [3. ],
       [3.4],
       [3.1],
       [3. ],
       [3.1],
       [3.1],
       [3.1],
       [2.7],
       [3.2],
       [3.3],
       [3. ],
       [2.5],
       [3. ],
       [3.4],
       [3. ]])

In [8]:
imp.fit_transform(df['SepalWidthCm'].values.reshape(-1,1))

array([[3.5       ],
       [3.05436242],
       [3.2       ],
       [3.1       ],
       [3.6       ],
       [3.9       ],
       [3.4       ],
       [3.4       ],
       [2.9       ],
       [3.1       ],
       [3.7       ],
       [3.4       ],
       [3.        ],
       [3.        ],
       [4.        ],
       [4.4       ],
       [3.9       ],
       [3.5       ],
       [3.8       ],
       [3.8       ],
       [3.4       ],
       [3.7       ],
       [3.6       ],
       [3.3       ],
       [3.4       ],
       [3.        ],
       [3.4       ],
       [3.5       ],
       [3.4       ],
       [3.2       ],
       [3.1       ],
       [3.4       ],
       [4.1       ],
       [4.2       ],
       [3.1       ],
       [3.2       ],
       [3.5       ],
       [3.1       ],
       [3.        ],
       [3.4       ],
       [3.5       ],
       [2.3       ],
       [3.2       ],
       [3.5       ],
       [3.8       ],
       [3.        ],
       [3.8       ],
       [3.2       ],
       [3.7       ],
       [3.3       ],
       [3.2       ],
       [3.2       ],
       [3.1       ],
       [2.3       ],
       [2.8       ],
       [2.8       ],
       [3.3       ],
       [2.4       ],
       [2.9       ],
       [2.7       ],
       [2.        ],
       [3.        ],
       [2.2       ],
       [2.9       ],
       [2.9       ],
       [3.1       ],
       [3.        ],
       [2.7       ],
       [2.2       ],
       [2.5       ],
       [3.2       ],
       [2.8       ],
       [2.5       ],
       [2.8       ],
       [2.9       ],
       [3.        ],
       [2.8       ],
       [3.        ],
       [2.9       ],
       [2.6       ],
       [2.4       ],
       [2.4       ],
       [2.7       ],
       [2.7       ],
       [3.        ],
       [3.4       ],
       [3.1       ],
       [2.3       ],
       [3.        ],
       [2.5       ],
       [2.6       ],
       [3.        ],
       [2.6       ],
       [2.3       ],
       [2.7       ],
       [3.        ],
       [2.9       ],
       [2.9       ],
       [2.5       ],
       [2.8       ],
       [3.3       ],
       [2.7       ],
       [3.        ],
       [2.9       ],
       [3.        ],
       [3.        ],
       [2.5       ],
       [2.9       ],
       [2.5       ],
       [3.6       ],
       [3.2       ],
       [2.7       ],
       [3.        ],
       [2.5       ],
       [2.8       ],
       [3.2       ],
       [3.        ],
       [3.8       ],
       [2.6       ],
       [2.2       ],
       [3.2       ],
       [2.8       ],
       [2.8       ],
       [2.7       ],
       [3.3       ],
       [3.2       ],
       [2.8       ],
       [3.        ],
       [2.8       ],
       [3.        ],
       [2.8       ],
       [3.8       ],
       [2.8       ],
       [2.8       ],
       [2.6       ],
       [3.        ],
       [3.4       ],
       [3.1       ],
       [3.        ],
       [3.1       ],
       [3.1       ],
       [3.1       ],
       [2.7       ],
       [3.2       ],
       [3.3       ],
       [3.        ],
       [2.5       ],
       [3.        ],
       [3.4       ],
       [3.        ]])

In [9]:
df['SepalWidthCm']=imp.fit_transform(df['SepalWidthCm'].values.reshape(-1,1))
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1      3.500000            1.4           0.2  Iris-setosa
1   2            4.9      3.054362            1.4           0.2          NaN
2   3            4.7      3.200000            NaN           0.2  Iris-setosa
3   4            4.6      3.100000            1.5           0.2  Iris-setosa
4   5            5.0      3.600000            1.4           0.2  Iris-setosa

In [10]:
df['PetalLengthCm']=imp.fit_transform(df['PetalLengthCm'].values.reshape(-1,1))
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1      3.500000       1.400000           0.2  Iris-setosa
1   2            4.9      3.054362       1.400000           0.2          NaN
2   3            4.7      3.200000       3.775168           0.2  Iris-setosa
3   4            4.6      3.100000       1.500000           0.2  Iris-setosa
4   5            5.0      3.600000       1.400000           0.2  Iris-setosa

In [11]:
df[['Species']]

            Species
0       Iris-setosa
1               NaN
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 1 columns]

In [12]:
imp1 = SimpleImputer(missing_values=np.nan, strategy='most_frequent')

df[['Species']]=imp1.fit_transform(df[['Species']].values.reshape(-1,1))
df.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.500000,1.400000,0.2,Iris-setosa
1,2,4.9,3.054362,1.400000,0.2,Iris-versicolor
2,3,4.7,3.200000,3.775168,0.2,Iris-setosa
3,4,4.6,3.100000,1.500000,0.2,Iris-setosa
4,5,5.0,3.600000,1.400000,0.2,Iris-setosa

In [14]:
ames=pd.read_csv("dataset/AmesHousing.csv")
ames.head()

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,1,526301100,20,RL,141.0,31770,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,215000
1,2,526350040,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,105000
2,3,526351010,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,172000
3,4,526353030,20,RL,93.0,11160,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,244000
4,5,527105010,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,189900

In [15]:
len(ames)

2930

In [16]:
ames.isnull().sum()

Order               0
PID                 0
MS SubClass         0
MS Zoning           0
Lot Frontage      490
                 ...
Mo Sold             0
Yr Sold             0
Sale Type           0
Sale Condition      0
SalePrice           0
Length: 82, dtype: int64

In [17]:
ames.dtypes

Order               int64
PID                 int64
MS SubClass         int64
MS Zoning          object
Lot Frontage      float64
                   ...
Mo Sold             int64
Yr Sold             int64
Sale Type          object
Sale Condition     object
SalePrice           int64
Length: 82, dtype: object

In [18]:
numeric_col=ames.select_dtypes(include=['int','float'])
numeric_col.columns

Index(['Order', 'PID', 'MS SubClass', 'Lot Frontage', 'Lot Area',
       'Overall Qual', 'Overall Cond', 'Year Built', 'Year Remod/Add',
       'Mas Vnr Area', 'BsmtFin SF 1', 'BsmtFin SF 2', 'Bsmt Unf SF',
       'Total Bsmt SF', '1st Flr SF', '2nd Flr SF', 'Low Qual Fin SF',
       'Gr Liv Area', 'Bsmt Full Bath', 'Bsmt Half Bath', 'Full Bath',
       'Half Bath', 'Bedroom AbvGr', 'Kitchen AbvGr', 'TotRms AbvGrd',
       'Fireplaces', 'Garage Yr Blt', 'Garage Cars', 'Garage Area',
       'Wood Deck SF', 'Open Porch SF', 'Enclosed Porch', '3Ssn Porch',
       'Screen Porch', 'Pool Area', 'Misc Val', 'Mo Sold', 'Yr Sold',
       'SalePrice'],
      dtype='object')

In [19]:
len(numeric_col.columns)

39

In [20]:
cate_col=ames.select_dtypes(include=['O'])
cate_col.columns

Index(['MS Zoning', 'Street', 'Alley', 'Lot Shape', 'Land Contour',
       'Utilities', 'Lot Config', 'Land Slope', 'Neighborhood', 'Condition 1',
       'Condition 2', 'Bldg Type', 'House Style', 'Roof Style', 'Roof Matl',
       'Exterior 1st', 'Exterior 2nd', 'Mas Vnr Type', 'Exter Qual',
       'Exter Cond', 'Foundation', 'Bsmt Qual', 'Bsmt Cond', 'Bsmt Exposure',
       'BsmtFin Type 1', 'BsmtFin Type 2', 'Heating', 'Heating QC',
       'Central Air', 'Electrical', 'Kitchen Qual', 'Functional',
       'Fireplace Qu', 'Garage Type', 'Garage Finish', 'Garage Qual',
       'Garage Cond', 'Paved Drive', 'Pool QC', 'Fence', 'Misc Feature',
       'Sale Type', 'Sale Condition'],
      dtype='object')

In [21]:
len(cate_col.columns)

43

In [22]:
numeric_col.head()

,Order,PID,MS SubClass,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,...,Wood Deck SF,Open Porch SF,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Misc Val,Mo Sold,Yr Sold,SalePrice
0,1,526301100,20,141.0,31770,6,5,1960,1960,112.0,...,210,62,0,0,0,0,0,5,2010,215000
1,2,526350040,20,80.0,11622,5,6,1961,1961,0.0,...,140,0,0,0,120,0,0,6,2010,105000
2,3,526351010,20,81.0,14267,6,6,1958,1958,108.0,...,393,36,0,0,0,0,12500,6,2010,172000
3,4,526353030,20,93.0,11160,7,5,1968,1968,0.0,...,0,0,0,0,0,0,0,4,2010,244000
4,5,527105010,60,74.0,13830,5,5,1997,1998,0.0,...,212,34,0,0,0,0,0,3,2010,189900

In [23]:
imp = SimpleImputer(missing_values=np.nan, strategy='mean')
transformed_data=imp.fit_transform(numeric_col)
transformed_data

array([[1.00000000e+00, 5.26301100e+08, 2.00000000e+01, ...,
        5.00000000e+00, 2.01000000e+03, 2.15000000e+05],
       [2.00000000e+00, 5.26350040e+08, 2.00000000e+01, ...,
        6.00000000e+00, 2.01000000e+03, 1.05000000e+05],
       [3.00000000e+00, 5.26351010e+08, 2.00000000e+01, ...,
        6.00000000e+00, 2.01000000e+03, 1.72000000e+05],
       ...,
       [2.92800000e+03, 9.23400125e+08, 8.50000000e+01, ...,
        7.00000000e+00, 2.00600000e+03, 1.32000000e+05],
       [2.92900000e+03, 9.24100070e+08, 2.00000000e+01, ...,
        4.00000000e+00, 2.00600000e+03, 1.70000000e+05],
       [2.93000000e+03, 9.24151050e+08, 6.00000000e+01, ...,
        1.10000000e+01, 2.00600000e+03, 1.88000000e+05]], shape=(2930, 39))

In [24]:
numeric_dataframe=pd.DataFrame(transformed_data,
    columns=numeric_col.columns,
    index=ames.index)
numeric_dataframe.head()

,Order,PID,MS SubClass,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,...,Wood Deck SF,Open Porch SF,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Misc Val,Mo Sold,Yr Sold,SalePrice
0,1.0,526301100.0,20.0,141.0,31770.0,6.0,5.0,1960.0,1960.0,112.0,...,210.0,62.0,0.0,0.0,0.0,0.0,0.0,5.0,2010.0,215000.0
1,2.0,526350040.0,20.0,80.0,11622.0,5.0,6.0,1961.0,1961.0,0.0,...,140.0,0.0,0.0,0.0,120.0,0.0,0.0,6.0,2010.0,105000.0
2,3.0,526351010.0,20.0,81.0,14267.0,6.0,6.0,1958.0,1958.0,108.0,...,393.0,36.0,0.0,0.0,0.0,0.0,12500.0,6.0,2010.0,172000.0
3,4.0,526353030.0,20.0,93.0,11160.0,7.0,5.0,1968.0,1968.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,2010.0,244000.0
4,5.0,527105010.0,60.0,74.0,13830.0,5.0,5.0,1997.0,1998.0,0.0,...,212.0,34.0,0.0,0.0,0.0,0.0,0.0,3.0,2010.0,189900.0

In [25]:
cate_col.head()

,MS Zoning,Street,Alley,Lot Shape,Land Contour,Utilities,Lot Config,Land Slope,Neighborhood,Condition 1,...,Garage Type,Garage Finish,Garage Qual,Garage Cond,Paved Drive,Pool QC,Fence,Misc Feature,Sale Type,Sale Condition
0,RL,Pave,NaN,IR1,Lvl,AllPub,Corner,Gtl,NAmes,Norm,...,Attchd,Fin,TA,TA,P,NaN,NaN,NaN,WD,Normal
1,RH,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,NAmes,Feedr,...,Attchd,Unf,TA,TA,Y,NaN,MnPrv,NaN,WD,Normal
2,RL,Pave,NaN,IR1,Lvl,AllPub,Corner,Gtl,NAmes,Norm,...,Attchd,Unf,TA,TA,Y,NaN,NaN,Gar2,WD,Normal
3,RL,Pave,NaN,Reg,Lvl,AllPub,Corner,Gtl,NAmes,Norm,...,Attchd,Fin,TA,TA,Y,NaN,NaN,NaN,WD,Normal
4,RL,Pave,NaN,IR1,Lvl,AllPub,Inside,Gtl,Gilbert,Norm,...,Attchd,Fin,TA,TA,Y,NaN,MnPrv,NaN,WD,Normal

In [ ]:
imp = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
transformed_data=imp.fit_transform(cate_col)
cate_dataframe=pd.DataFrame(transformed_data,columns=cate_col.columns,index=ames.index)
cate_dataframe.head()

,MS Zoning,Street,Alley,Lot Shape,Land Contour,Utilities,Lot Config,Land Slope,Neighborhood,Condition 1,...,Garage Type,Garage Finish,Garage Qual,Garage Cond,Paved Drive,Pool QC,Fence,Misc Feature,Sale Type,Sale Condition
0,RL,Pave,Grvl,IR1,Lvl,AllPub,Corner,Gtl,NAmes,Norm,...,Attchd,Fin,TA,TA,P,Ex,MnPrv,Shed,WD,Normal
1,RH,Pave,Grvl,Reg,Lvl,AllPub,Inside,Gtl,NAmes,Feedr,...,Attchd,Unf,TA,TA,Y,Ex,MnPrv,Shed,WD,Normal
2,RL,Pave,Grvl,IR1,Lvl,AllPub,Corner,Gtl,NAmes,Norm,...,Attchd,Unf,TA,TA,Y,Ex,MnPrv,Gar2,WD,Normal
3,RL,Pave,Grvl,Reg,Lvl,AllPub,Corner,Gtl,NAmes,Norm,...,Attchd,Fin,TA,TA,Y,Ex,MnPrv,Shed,WD,Normal
4,RL,Pave,Grvl,IR1,Lvl,AllPub,Inside,Gtl,Gilbert,Norm,...,Attchd,Fin,TA,TA,Y,Ex,MnPrv,Shed,WD,Normal

In [ ]:
ames=pd.concat([cate_dataframe,numeric_dataframe],axis=1)
ames.head()

,MS Zoning,Street,Alley,Lot Shape,Land Contour,Utilities,Lot Config,Land Slope,Neighborhood,Condition 1,...,Wood Deck SF,Open Porch SF,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Misc Val,Mo Sold,Yr Sold,SalePrice
0,RL,Pave,Grvl,IR1,Lvl,AllPub,Corner,Gtl,NAmes,Norm,...,210.0,62.0,0.0,0.0,0.0,0.0,0.0,5.0,2010.0,215000.0
1,RH,Pave,Grvl,Reg,Lvl,AllPub,Inside,Gtl,NAmes,Feedr,...,140.0,0.0,0.0,0.0,120.0,0.0,0.0,6.0,2010.0,105000.0
2,RL,Pave,Grvl,IR1,Lvl,AllPub,Corner,Gtl,NAmes,Norm,...,393.0,36.0,0.0,0.0,0.0,0.0,12500.0,6.0,2010.0,172000.0
3,RL,Pave,Grvl,Reg,Lvl,AllPub,Corner,Gtl,NAmes,Norm,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,2010.0,244000.0
4,RL,Pave,Grvl,IR1,Lvl,AllPub,Inside,Gtl,Gilbert,Norm,...,212.0,34.0,0.0,0.0,0.0,0.0,0.0,3.0,2010.0,189900.0

In [ ]:
ames.isnull().sum()

MS Zoning       0
Street          0
Alley           0
Lot Shape       0
Land Contour    0
               ..
Pool Area       0
Misc Val        0
Mo Sold         0
Yr Sold         0
SalePrice       0
Length: 82, dtype: int64

# Data Transformation

## LabelEncoder

## OrdinalEncoder, Onehot Encoder

In [ ]:
#Day 11
import pandas as pd
import numpy as np

iris=pd.read_csv('dataset/Iris.csv')
iris.dropna(inplace=True)
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
iris['target']=le.fit_transform(iris['Species'].values.reshape(-1,1))

e:\anaconda\envs\parami\Lib\site-packages\sklearn\preprocessing\_label.py:110: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
iris.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,target
0,1,5.1,3.5,1.4,0.2,Iris-setosa,0
1,2,4.9,3.0,1.4,0.2,Iris-setosa,0
2,3,4.7,3.2,1.3,0.2,Iris-setosa,0
3,4,4.6,3.1,1.5,0.2,Iris-setosa,0
4,5,5.0,3.6,1.4,0.2,Iris-setosa,0

In [ ]:
iris.target.value_counts()

target
0    50
1    50
2    50
Name: count, dtype: int64

In [ ]:
pd.get_dummies(iris['Species'])

     Iris-setosa  Iris-versicolor  Iris-virginica
0           True            False           False
1           True            False           False
2           True            False           False
3           True            False           False
4           True            False           False
..           ...              ...             ...
145        False            False            True
146        False            False            True
147        False            False            True
148        False            False            True
149        False            False            True

[150 rows x 3 columns]

In [ ]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder,OrdinalEncoder

onehot_encode=OneHotEncoder(sparse_output=False)
one_hot_result=onehot_encode.fit_transform(iris['Species'].values.reshape(-1,1))
one_hot_result

array([[1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.]])

In [ ]:
or_encoder=OrdinalEncoder()
or_value=or_encoder.fit_transform(iris['Species'].to_frame())
iris['or_value']=or_value
iris.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,target,or_value
0,1,5.1,3.5,1.4,0.2,Iris-setosa,0,0.0
1,2,4.9,3.0,1.4,0.2,Iris-setosa,0,0.0
2,3,4.7,3.2,1.3,0.2,Iris-setosa,0,0.0
3,4,4.6,3.1,1.5,0.2,Iris-setosa,0,0.0
4,5,5.0,3.6,1.4,0.2,Iris-setosa,0,0.0

In [ ]:
iris.or_value=iris.or_value.astype('int')
iris.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,target,or_value
0,1,5.1,3.5,1.4,0.2,Iris-setosa,0,0
1,2,4.9,3.0,1.4,0.2,Iris-setosa,0,0
2,3,4.7,3.2,1.3,0.2,Iris-setosa,0,0
3,4,4.6,3.1,1.5,0.2,Iris-setosa,0,0
4,5,5.0,3.6,1.4,0.2,Iris-setosa,0,0

In [ ]:
housing=pd.read_csv("dataset/Housing.csv")
housing.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [ ]:
# one way of converting data with custom code
label_match={"yes":1,"no":0}
housing['mainroad']=housing['mainroad'].map(label_match)
housing.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,1,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,1,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,1,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,1,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,1,yes,yes,no,yes,2,no,furnished

In [ ]:
housing[['guestroom','basement','hotwaterheating','airconditioning','parking']]=or_encoder.fit_transform(housing[['guestroom','basement','hotwaterheating','airconditioning','parking']])
housing.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,1,0.0,0.0,0.0,1.0,2.0,yes,furnished
1,12250000,8960,4,4,4,1,0.0,0.0,0.0,1.0,3.0,no,furnished
2,12250000,9960,3,2,2,1,0.0,1.0,0.0,0.0,2.0,yes,semi-furnished
3,12215000,7500,4,2,2,1,0.0,1.0,0.0,1.0,3.0,yes,furnished
4,11410000,7420,4,1,2,1,1.0,1.0,0.0,1.0,2.0,no,furnished

In [ ]:
housing['prefarea']=lbl_encoder.fit_transform(housing[['prefarea']])
housing['furnishingstatus']=or_encoder.fit_transform(housing[['furnishingstatus']])
housing['furnishingstatus']=housing['furnishingstatus'].astype('int')
housing.head()

e:\anaconda\envs\parami\Lib\site-packages\sklearn\preprocessing\_label.py:110: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,1,0.0,0.0,0.0,1.0,2.0,1,0
1,12250000,8960,4,4,4,1,0.0,0.0,0.0,1.0,3.0,0,0
2,12250000,9960,3,2,2,1,0.0,1.0,0.0,0.0,2.0,1,1
3,12215000,7500,4,2,2,1,0.0,1.0,0.0,1.0,3.0,1,0
4,11410000,7420,4,1,2,1,1.0,1.0,0.0,1.0,2.0,0,0

## One hot encoding
## One way - splitting into different columns

In [ ]:
#Day 12
from sklearn.preprocessing import OneHotEncoder
import pandas as pd


encoded = onehot_encode.fit_transform(iris[['Species']])
encoded[:4]

array([[1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.]])

In [ ]:
encoded_df = pd.DataFrame(encoded, columns=onehot_encode.get_feature_names_out(['Species']))
encoded_df.head()

   Species_Iris-setosa  Species_Iris-versicolor  Species_Iris-virginica
0                  1.0                      0.0                     0.0
1                  1.0                      0.0                     0.0
2                  1.0                      0.0                     0.0
3                  1.0                      0.0                     0.0
4                  1.0                      0.0                     0.0

In [ ]:
iris_encoded = pd.concat([iris, encoded_df], axis=1)
iris_encoded.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,target,or_value,Species_Iris-setosa,Species_Iris-versicolor,Species_Iris-virginica
0,1,5.1,3.5,1.4,0.2,Iris-setosa,0,0,1.0,0.0,0.0
1,2,4.9,3.0,1.4,0.2,Iris-setosa,0,0,1.0,0.0,0.0
2,3,4.7,3.2,1.3,0.2,Iris-setosa,0,0,1.0,0.0,0.0
3,4,4.6,3.1,1.5,0.2,Iris-setosa,0,0,1.0,0.0,0.0
4,5,5.0,3.6,1.4,0.2,Iris-setosa,0,0,1.0,0.0,0.0

## Another way - putting all them as array in one column

In [ ]:
encoded = onehot_encode.fit_transform(iris[['Species']])
iris['onehot'] = encoded.tolist()

iris.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,target,or_value,onehot
0,1,5.1,3.5,1.4,0.2,Iris-setosa,0,0,"[1.0, 0.0, 0.0]"
1,2,4.9,3.0,1.4,0.2,Iris-setosa,0,0,"[1.0, 0.0, 0.0]"
2,3,4.7,3.2,1.3,0.2,Iris-setosa,0,0,"[1.0, 0.0, 0.0]"
3,4,4.6,3.1,1.5,0.2,Iris-setosa,0,0,"[1.0, 0.0, 0.0]"
4,5,5.0,3.6,1.4,0.2,Iris-setosa,0,0,"[1.0, 0.0, 0.0]"

In [ ]:
iris['onehot'] = iris['onehot'].apply(lambda x: [int(i) for i in x])  # convert float list to int list
iris.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,target,or_value,onehot
0,1,5.1,3.5,1.4,0.2,Iris-setosa,0,0,"[1, 0, 0]"
1,2,4.9,3.0,1.4,0.2,Iris-setosa,0,0,"[1, 0, 0]"
2,3,4.7,3.2,1.3,0.2,Iris-setosa,0,0,"[1, 0, 0]"
3,4,4.6,3.1,1.5,0.2,Iris-setosa,0,0,"[1, 0, 0]"
4,5,5.0,3.6,1.4,0.2,Iris-setosa,0,0,"[1, 0, 0]"

In [1]:
#Day 13
import pandas as pd
df = pd.read_csv('dataset/Iris.csv')
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [5]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_classif 
x = df.drop(columns=['Id', 'Species'],axis=1)
y = df['Species']

In [6]:
x.shape,y.shape

((150, 4), (150,))

In [9]:
selectkbest = SelectKBest(f_classif, k=2)

In [10]:
selectkbest.fit_transform(x,y)  #When we call the function we have to call together x and y!

array([[1.4, 0.2],
       [1.4, 0.2],
       [1.3, 0.2],
       [1.5, 0.2],
       [1.4, 0.2],
       [1.7, 0.4],
       [1.4, 0.3],
       [1.5, 0.2],
       [1.4, 0.2],
       [1.5, 0.1],
       [1.5, 0.2],
       [1.6, 0.2],
       [1.4, 0.1],
       [1.1, 0.1],
       [1.2, 0.2],
       [1.5, 0.4],
       [1.3, 0.4],
       [1.4, 0.3],
       [1.7, 0.3],
       [1.5, 0.3],
       [1.7, 0.2],
       [1.5, 0.4],
       [1. , 0.2],
       [1.7, 0.5],
       [1.9, 0.2],
       [1.6, 0.2],
       [1.6, 0.4],
       [1.5, 0.2],
       [1.4, 0.2],
       [1.6, 0.2],
       [1.6, 0.2],
       [1.5, 0.4],
       [1.5, 0.1],
       [1.4, 0.2],
       [1.5, 0.1],
       [1.2, 0.2],
       [1.3, 0.2],
       [1.5, 0.1],
       [1.3, 0.2],
       [1.5, 0.2],
       [1.3, 0.3],
       [1.3, 0.3],
       [1.3, 0.2],
       [1.6, 0.6],
       [1.9, 0.4],
       [1.4, 0.3],
       [1.6, 0.2],
       [1.4, 0.2],
       [1.5, 0.2],
       [1.4, 0.2],
       [4.7, 1.4],
       [4.5, 1.5],
       [4.9, 1.5],
       [4. , 1.3],
       [4.6, 1.5],
       [4.5, 1.3],
       [4.7, 1.6],
       [3.3, 1. ],
       [4.6, 1.3],
       [3.9, 1.4],
       [3.5, 1. ],
       [4.2, 1.5],
       [4. , 1. ],
       [4.7, 1.4],
       [3.6, 1.3],
       [4.4, 1.4],
       [4.5, 1.5],
       [4.1, 1. ],
       [4.5, 1.5],
       [3.9, 1.1],
       [4.8, 1.8],
       [4. , 1.3],
       [4.9, 1.5],
       [4.7, 1.2],
       [4.3, 1.3],
       [4.4, 1.4],
       [4.8, 1.4],
       [5. , 1.7],
       [4.5, 1.5],
       [3.5, 1. ],
       [3.8, 1.1],
       [3.7, 1. ],
       [3.9, 1.2],
       [5.1, 1.6],
       [4.5, 1.5],
       [4.5, 1.6],
       [4.7, 1.5],
       [4.4, 1.3],
       [4.1, 1.3],
       [4. , 1.3],
       [4.4, 1.2],
       [4.6, 1.4],
       [4. , 1.2],
       [3.3, 1. ],
       [4.2, 1.3],
       [4.2, 1.2],
       [4.2, 1.3],
       [4.3, 1.3],
       [3. , 1.1],
       [4.1, 1.3],
       [6. , 2.5],
       [5.1, 1.9],
       [5.9, 2.1],
       [5.6, 1.8],
       [5.8, 2.2],
       [6.6, 2.1],
       [4.5, 1.7],
       [6.3, 1.8],
       [5.8, 1.8],
       [6.1, 2.5],
       [5.1, 2. ],
       [5.3, 1.9],
       [5.5, 2.1],
       [5. , 2. ],
       [5.1, 2.4],
       [5.3, 2.3],
       [5.5, 1.8],
       [6.7, 2.2],
       [6.9, 2.3],
       [5. , 1.5],
       [5.7, 2.3],
       [4.9, 2. ],
       [6.7, 2. ],
       [4.9, 1.8],
       [5.7, 2.1],
       [6. , 1.8],
       [4.8, 1.8],
       [4.9, 1.8],
       [5.6, 2.1],
       [5.8, 1.6],
       [6.1, 1.9],
       [6.4, 2. ],
       [5.6, 2.2],
       [5.1, 1.5],
       [5.6, 1.4],
       [6.1, 2.3],
       [5.6, 2.4],
       [5.5, 1.8],
       [4.8, 1.8],
       [5.4, 2.1],
       [5.6, 2.4],
       [5.1, 2.3],
       [5.1, 1.9],
       [5.9, 2.3],
       [5.7, 2.5],
       [5.2, 2.3],
       [5. , 1.9],
       [5.2, 2. ],
       [5.4, 2.3],
       [5.1, 1.8]])